.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: #d1d5db !important; 
    opacity: 0.8 !important;
    border-radius: 50% !important;
    margin: 0 4px !important;
    transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
    width: 25px !important; 
    background-color: #3b82f6 !important;
    opacity: 1 !important;
    border-radius: 5px !important;
}