@import "tailwindcss";

/* 브레이크 포인트 재설정 아이패드 미니가 768px이라 적용이 안되 변경함 */
@theme{
  --breakpoint-sm: 641px;
  --breakpoint-md:769px;
  --breakpoint-lg:1025px;
}

@custom-variant dark (&:where(.dark, .dark *));

html, body{
  @apply bg-white dark:bg-black delay-100 duration-300;
}
#root {
  @apply bg-white text-black  dark:bg-black dark:text-white delay-100 duration-300;
}
/* @custom-variant dark (&:where(.[data-theme=dark], [data-theme=dark]  *)); */